div[data-ctrl="tag"] {
	position: relative;

	ul {
		display: block;
		visibility:collapse;
		list-style: none;
		margin: 0;
		padding: 0;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 4px;
		overflow: hidden;
		//top: auto;
		width: 100%;
		li > a {
			cursor: pointer;
		}

		.selected > a {
			background: rgb(92, 134, 250);
			color: white;
		}
		/*:hover {
			.selected();
			opacity: 0.5;
		}*/
	}

	div.input-group-btn:last-of-type > .btn:last-of-type {
		margin-left: -1px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	*:focus ~ ul{
		visibility:visible;
	}
}
